*{
    margin: auto;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #0a0f1f, #324c75);
    color: white;
  }

.titre {
    display: flex;
    margin-top: 30px;
}

.titre h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 40px;
    position: relative; 
}

.titre h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background: #4eaaff;
    margin: 10px auto 0;
    border-radius: 2px;
    box-shadow: 0 0 10px #4eaaff, 0 0 20px #4eaaff;
}


/********IMAGE ET PROJET SCHOOL*******/

.all-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.school, .pro {
    background-color: rgba(70, 130, 180, 0.15); /* Fond sombre pour mieux voir le néon */
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 5px #4eaaff, 0 0 10px #4eaaff;
    border: 2px solid #4eaaff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.school:hover, .pro:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #4eaaff, 0 0 20px #4eaaff, 0 0 30px #4eaaff;
}

.school h2, .pro h2 {
    color: #4eaaff;
    text-shadow: 0 0 3px #4eaaff, 0 0 6px #4eaaff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.school h3, .pro h3 {
    color: #9dc8f0;
    text-shadow: 0 0 3px #88cee9, 0 0 6px #4eaaff;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    .all-projects {
        grid-template-columns: 1fr; /* passe à une colonne */
    }
}

/********************************/





