*{
    margin: auto;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #0a0f1f, #324c75);
    color: #e6e9ef;
  }

.titre {
    display: flex;
    margin-top: 30px;
}

.titre h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 40px;
    position: relative; 
}

.titre h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background: #4eaaff;
    margin: 10px auto 0;
    border-radius: 2px;
    box-shadow: 0 0 10px #4eaaff, 0 0 20px #4eaaff;
}

.school {
    background-color: rgb(156, 204, 235);
    border-radius: 10px;
    margin-top: 20px;
}

.school h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    margin-left: 20px;
}

.school p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #f0f4ff;   
}

/********IMAGE ET PROJET SCHOOL*******/

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 493px));
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card:hover {
    transform: translateY(-5px);
} 

.card img {
width: 100%;
height: 200px;
object-fit: cover;
}

.card .content {
    padding: 15px;
}

.card .content p {
    margin: 10px 0 0 0;
    color: #333;
    line-height: 1.5;
}

/********************************/

/*IMAGE ET PROJET PRO.*/



/********************************/




.pro {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

.pro h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    margin-left: 20px;
}

.pro p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #f0f4ff;   
}


