*{
    margin: auto;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #0a0f1f, #324c75);
    color: white;
  }

.titre {
    display: flex;
    margin-top: 30px;
}

.titre h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 40px;
    position: relative; 
}

.titre h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background: #4eaaff;
    margin: 10px auto 0;
    border-radius: 2px;
    box-shadow: 0 0 10px #4eaaff, 0 0 20px #4eaaff;
}

.soustitre {
    color: #ee8845;
    text-shadow: 0 0 3px #ff6e4e, 0 0 6px #f28e60;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

/********Minecraft*******/

.container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px;
}

.image-box img {
    width: 100%;
    max-width: 700px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.text-box {
    max-width: 550px;
}

.text-box h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.text-box p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

/********************************/





